body{
	margin: 0;
	padding : 0;
	background: url(background1.png) no-repeat;
	background-size: cover;
	
	
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.box{
	width = 450px;
	background: rgba(255,207,158,0.0);
	padding: 40px;
	text-align: center;
	margin:auto;
	margin-top: 5%;
	color: white:
	font-family: Times New Roman;

	
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;

}
.hox h1{
	font-size:40px;
	letter-spacing:4px;
	font-weight: 100;
	font-family: Times New Roman;

}
.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
	font-family: Times New Roman;

}

.box p{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
	margin:auto;
	width: 800;
	text-align: center;
	text-align: justify;
	font-family: Times New Roman;
	
}

.box1{
	width = 720px;
	background: rgba(255,207,158,0.0);
	padding: 40px;
	text-align: center;
	margin:auto;
	margin-top: 5%;
	color: white:
	font-family: Arial;
	
}

.box1 p{
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 100;
	margin:auto;
	width: 1000;
	text-align: center;
	text-align: justify;
	margin-top: 1em ;
	margin-bottom: 1em ;
	font-family: Times New Roman;

}

.box1 h1{
	margin: auto;
	width: 1000;
	text-align: center;
	text-align: justify;
	font-family: Times New Roman;

}

.vcaption p{
	font-size: 16px;
	letter-spacing: 1.5px;
	font-weight: 100;
	width: 900;
	text-align: center;
	font-family: Times New Roman;
}